# General
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Rust
/target/
**/*.rs.bk

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
flutter/build/

# vcpkg
/vcpkg_installed/

# CMake
CMakeCache.txt
CMakeFiles/

# Build artifacts
*.pdb
*.msi
