[submodule "libs/hbb_common"]
	path = libs/hbb_common
	url = https://github.com/rustdesk/hbb_common
[submodule "libs/ipc"]
	path = libs/ipc
	url = https://github.com/rustdesk/rustdesk.git
	branch = master
